.changeUl{
    margin: 0 auto;
}
.ell{
    overflow: hidden;
    text-overflow: ellipsis;
}
.slideBox {
    height:550px;
    position:relative;
    overflow:hidden;
}
.slideBox ul {
    position:relative;
    width:5760px;
    height: 550px;
    overflow:hidden;
}
.slideBox ul li {
    float:left;
    width:1920px;
    height:550px;
    position:relative;
}
.spanBox {
    position:absolute;
    width:300px;
    height:20px;
    bottom:10px;
    left:900px;
}
.spanBox span {
    width:18px;
    height:18px;
    margin-left:5px;
    background-color:rgba(0,0,0,.5);
    float:left;
    line-height:16px;
    cursor: pointer;
    border-radius: 50%;
}
.slideBox .spanBox .active {
    background-color:#E31939;
    color: #FFFFFF;
    /*border:solid 1px #000000;*/
    /*border-radius:4px;*/
}
.prev {
    width: 32px;
    height: 32px;
    position:absolute;
    left:562px;
    top:320px;
    float:left;
    background: rgba(0,0,0,.5);
    opacity:0.5;
}
.next {
    width: 32px;
    height: 32px;
    position:absolute;
    right:554px;
    top:320px;
    float:right;
    background: rgba(0,0,0,.5);
}
.ad{
    width: 208px;
    height: 450px;
    position: absolute;
    top: 52px;
    left: 1349px;
    background: #FFEFF0;
    padding: 40px 10px;
}
.ad .ad_span{
    margin: 15px 0 15px 0;
    font-weight: bold;
    font-size: 20px;
    color: #e4566a;
    font-family: "microsoft YaHei";
    text-align: center;
}
.ad img{
    display: block;
    margin: 0 auto;
}
.ad .ad_plan{
    display: block;
    width: 154px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    margin: 15px auto 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    font-family: "microsoft YaHei";
    background: #e4566a;
}
.ad .ad_intro{
    display: block;
    text-align: center;
    margin: 10px auto;
    text-decoration: underline;
    font-size: 12px;
    color: #444;
}
section div#scrolldiv{
    position: fixed;
    top: 480px;
    left: 277px;
    display: none;
}
section div#scrolldiv ul li{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px dotted #E31939;
}
section div#scrolldiv ul li.scroll{
    background: #E31939;
    color: #FFFFFF;
}
section .container .section_first .section_first_div1>div:first-child{
    margin-right:10px;
}
section .container .section_first .section_first_div1>div:first-child~div{
    border:1px solid #EEEEEE;
}
section .container .section_first .section_first_div1>div:first-child~div:hover{
    box-shadow: 0 0 1px 1px #E6E6E6 ;
}
section .container .section_nav{
    position: relative;
}
section .container .section_nav ul li a{
    display: block;
    width: 240px;
    height: 38px;
    text-align: center;
    padding-bottom: 40px;
    /*letter-spacing: 5.3px;*/
    color: #000000;
    font-size: 18px;
}
section .container .section_nav div.triangle{
    position: absolute;
    width: 0;
    bottom: 0;
    left: 111px;
    border: 10px solid transparent;
    border-bottom: 10px solid red;
}
section .container .section_nav ul li.now{
    color: #f5f5f5;
    /*border: 1px solid #E31939;*/
    border-bottom: 2px solid #E31939;
    /*box-shadow: 0 0 1px 1px #E31939;*/
}
.sale_goods_list{
    display: none;
    overflow: hidden;
}
.sale_goods_list.now{
    display: block;
}
.sale_goods_list>div{
    float: left;
    width: 240px;
    height: 280px;
    padding: 0 20px 10px;
    border: 1px solid #EEEEEE;
}
.sale_goods_list>div>img{
    width: 242px;
    height: 250px;
    transition: all linear .2s;
}
.sale_goods_list>div>a{
    display: block;
    height: 50px;
}
.sale_goods_list>div>img:hover{
    transform: scale(1.1);
}
section .container .section_fifth>div{
    width: 240px;
}
section .section_floor{
    border-bottom: 1px solid #E31939;
    height: 39px;
    position: relative;
}
.floor_nav{
    position: absolute;
    right: 0;
    font-size: 16px;
}
.floor_nav ul.nav li{
    border: 1px solid #EEEEEE;
    border-bottom: none;
    margin-left: 10px;
    width: 120px;
    height: 39px;
    text-align: center;
    line-height: 20px;
}
/*.floor_nav ul.nav li a{*/
    /*line*/
/*}*/
section .container .section_floor .box{
width:120px; height:39px;
border:1px solid #E31939;
border-bottom:1px solid #ffffff;
position:absolute; top:0; left:691px;
transition: all 0.2s linear;
}
.floor_list>.list_title>img{
    width: 260px;
    height: 475px;
}
.floor_list .list_box{
    width: 940px;
    height: 475px;
    display: none;
    /*border:1px solid red;*/
}
.floor_list .list_box.list_box_now{
    display: block;
}
.floor_list .list_box .list_goods{
    width: 940px;
    height: 237px;
    /*border: 1px solid red;*/
    overflow: hidden;
}
.floor_list .list_box .list_goods>div{
    float: left;
    width: 235px;
    height: 237px;
    padding: 10px 10px;
    border: 1px solid #EEEEEE;
}
.floor_list .list_box .list_goods>div .title_a{
    display: block;
    height: 45px;
    color: #777777;
    font-size: 14px;
}
.floor_list .list_box .list_goods>div:not(:last-child){
    border-right: none;
}
.floor_list .list_box .list_goods>div>img{
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto;
}
.cart_btn{
    display: block;
    width: 32px;
    height: 32px;
    line-height: 29px;
    text-align: center;
    /*left: 200px;*/
    /*top:50px;*/
    /*margin-left: 168px;*/
    /*margin-top: -31px;*/
    border-radius: 50%;
    background: #E31939;
}
section .container .section_floor_second .section_floor_second_div1>img{
    width:270px;
    height: 485px;
}
section .container .section_floor_second .section_floor_second_div2{
    width:230px;
    height:243px;
    border: 1px solid #EEEEEE;
}
section .container .section_floor_second .section_floor_second_div2 img{
    width:75%;
}
section .container .section_floor_second .section_floor_second_div2 p{
    padding:0 15px;
    font-size:12px;
    color:#777777;
}
section .container .section_floor_second .section_floor_second_div2 span{
    font-size:18px;
    color:#E31939;
    text-align: right;
}